:root {
    --clr1: #001219;    
    --clr2: #005f73;    
    --clr3: #0a9396;    
    --clr4: #94d2bd;    
    --clr5: #e9d8a6;    
    --clr6: #ee9b00;    
    --clr7: #ca6702;    
    --clr8: #bb3e03;    
    --clr9: #ae2012;    
    --clr10: #9b2226; 
    --clr11: #004e6d;  
}